#container
  #header
    .tagline
      %img{:src => "images/header.png"}
    .icons
      %a{:href => "javascript:printpage();"}
        %img{:src => "images/icon-printer.png"}
  #content
    .left
      %div{:style => "padding-left: 15px;"}
        %img{:src => "images/lightswitchon.jpg", :id => "lightswitchon"}
      %div{:style => "padding-top: 206px;"}
        %img{:src => "images/nightlight.png", :id => "nightlighton"}
    .right
      #content-map{:style => "width: 886px; height: 432px;"}
      #content-listing
        .toparea
          %img{:src => "images/logo.jpg", :id => "small-logo"}
          %br
          %br
          Enter zip code or city &amp; state
          %br
          %div
            %form
              %input{:id => "query", :type => "text", :value => "Search Location"}
        %table{:id => "content-listing-table", :border => "0", :cellpadding => "0", :cellspacing => "0", :align => "center"}
  #footer &copy; 2011 McDonald's

%script{:src => "http://maps.google.com/maps/api/js?sensor=false"}
%script{:src => "http://j.maxmind.com/app/geoip.js"}
%script{:src => "javascripts/app.js"}
