!!! Transitional
%html
  %head
    %title= [@title, "McD Locatolkjlr"].compact.join(" | ")
    = stylesheet_link_tag 'app'
    = javascript_include_tag 'jquery-1.6.1'
  %body
    #maincontainer= yield